* {
  box-sizing: border-box;
}
body {
  font-family: "Libre Franklin", sans-serif;
}
.container {
  width: 800px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding: 20px 0;
}
.img {
  width: 450px;
  margin: 60px 0;
  & img {
    max-width: 100%;
  }
}

.container > img {
  margin-bottom: 40px;
}
.container > h2 {
  font-weight: 300;
  font-size: 40px;
  color: hsl(0, 0%, 59%);
  margin: 0;
  & span {
    color: hsl(209, 33%, 12%);
    font-weight: 700;
  }
}
.container > p {
  margin-top: 5px;
}
.container > form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 500px;
  & input {
    padding: 15px;
    border-radius: 100px;
    border: 1px solid hsl(223, 100%, 88%);
    flex: 1.8;
    &::placeholder {
      color: hsl(223, 100%, 88%);
    }
  }
  & button {
    flex: 1;
    padding: 15px;
    border-radius: 100px;
    color: white;
    background-color: hsl(223, 87%, 63%);
    border: none;
    box-shadow: 0 0 2px 1px hsl(223deg 100% 82.83%);
    cursor: pointer;
  }
}
.contact {
  & section:first-of-type {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    margin: auto;
    & i {
      position: relative;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid hsl(0deg 0% 87.4%);
      &::before {
        color: hsl(223, 87%, 63%);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  .copy {
    margin: 10px 0;
    margin-top: 25px;
    color: hsl(0, 0%, 59%);
  }
}
